/* The navigation bar */
.topnav {
    font-family: 'Raleway';
    font-weight: bold;
    overflow: hidden;
    background-color: #363636;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
  
/* Links inside the navbar */
.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* Change background on mouse-over */
.topnav a:hover {
    background: #575757;
    color: #FF7722;
    text-decoration: none;
}

.welcome{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

